# {{crate}}

[![Crates.io](https://img.shields.io/crates/v/{{crate}}.svg)](https://crates.io/crates/{{crate}})
[![Docs.rs](https://docs.rs/{{crate}}/badge.svg)](https://docs.rs/{{crate}})
[![Build Status](https://github.com/katharostech/bevy_retro/actions/workflows/rust.yaml/badge.svg)](https://github.com/katharostech/bevy_retro/actions/workflows/rust.yaml)
[![lines of code](https://tokei.rs/b1/github/katharostech/{{crate}}?category=code)](https://github.com/katharostech/{{crate}})
[![Katharos License](https://img.shields.io/badge/License-Katharos-blue)](https://github.com/katharostech/katharos-license)

{{readme}}

{{links}}
